body
{
    background-color: white;
    margin: 0;
}

.backimg
{
    background-image: url(media/bannerLangkawi.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 200%;
    z-index: -1;
    position: absolute;
    filter: blur(5px);
}

.maincontyainer
{
    margin: 50px;
    font-family: NewFont;
    color: white;

    & > h1
    {
        text-align: center;
        font-size: 60px;
        padding: 50px;
        padding-bottom: 0px;
    }

    & > p
    {
        text-align: center;
        font-size: 40px;
        padding-bottom: 20px;
    }

}


.firstlayer
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-left: 5%;
    margin-right: 5%;
}

.firstlayer > div
{
    text-align: center;
    background-color: rgb(0, 0, 122);
    width: 30%;
    height: 800px;
    border-radius: 20px;
    align-content: center;
    transition-duration: 0.2s;

    & > h1
    {
        font-size: 40px;
        margin: 0;
    }

    & > p
    {
        font-size: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }

    & > a
    {
        color: white;
        font-size: 25px;
        transition-duration: 0.2s;

        & > img
        {
            filter: invert(1);
            height: 20px;
        }
    }

    & > a:hover
    {
        color: goldenrod;
        font-size: 25px;
        transition-duration: 0.2s;
        text-decoration: underline;

    & > img
        {
            filter: invert(1) brightness(0.6) sepia(1);
        }
    }


}

.firstlayer > div:hover
{
    box-shadow: 0px 5px 5px grey;
    transition-duration: 0.2s;
    transform: translateY(-10px);
}

#apusp
{
    height: 400px;
    margin-top: -40px;
}

#apusp1
{
    height: 230px;
    margin-bottom: 50px;
}

#apusp3
{
    height: 350px;
    margin-bottom: -40px;
    margin-top: -40px;
}

#apusp4
{
    height: 220px;
    filter: invert(1);
    margin-bottom: 50px;
}

#apusp5
{
    height: 120px;
    margin-bottom: 30px;
}

#apusp6
{
    height: 200px;
    margin-bottom: 40px;
}


/* FOOTER AND HEADER*/


header
{
    padding: 10px 50px 10px 50px;
    background-color: white;
    display: flex;
    font-family: NewFont;
    align-items: center;
    top: 0;
    justify-content: space-between;
}

a
{
    color: black;
    text-decoration: none;
    transition-duration: 0.2s;
}

a:hover
{
    color: goldenrod;
    text-decoration: underline;
    transition-duration: 0.2s;
}

#headermain > img
{
    height: 60px;
}


#headernav
{
    font-size: 18px;
    margin-left: auto;
}

#headernav > a
{
    margin-left: 20px;
}

#headernav > a > img:hover
{
    transition-duration: 0.2s;    
    filter: invert(1) brightness(0.6) sepia(1);
}

#headernav > a > img
{
    transition-duration: 0.2s;
}

#headersoc
{
    height: 18px;
}

#headeruser
{
    height: 55px;
    width: 55px;
    margin-left: 25px;
}

footer
{
    bottom: 0;
    width: 100%;
}



.footersp > p > a
{
    color: white;
    font-size: 20px;
}

.footersp > p > a:hover
{
    color: goldenrod;
}

#footerresource
{
    list-style-type: none;
    font-size: 20px;
    padding: 0;
    padding-right: 60px;
}
#footerresource > li > a
{
    font-size: 18px;
    color: white;
}

#footerresource > li > a:hover
{
    color: goldenrod;
}


#footersp
{
    list-style-type: none;
    padding: 0;
}



#footersp > li
{
    display:inline;
}

#footerapu 
{
    height: 100px;
    padding-right: 10px;
}

#footercol
{
    height: 100px;
    width: 150px;
    padding-right: 10px;
    object-fit: cover;
    object-position: 0px -10px;
}


#footermsr
{
    height: 90px;
    width: 120px;
    object-fit: contain;
    padding-right: 10px;
}

#footervibe
{
    height: 80px;
    width: 120px;
    object-fit: contain;
    padding-right: 10px;
    filter: invert(1);
}

#footercomp
{
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}

#footercomp > li > a
{
    font-size: 18px;
    color: white;
}

#footercomp > li > a:hover
{
    color:goldenrod
}

.footer2
{
    padding: 10px 50px 10px 50px;
    background-color: rgb(0, 0, 122);
    font-family: NewFont;
    display: flex ;
    align-items: center;
}

.footer1
{
    padding: 10px 50px 10px 50px;
    background-color: rgb(0, 0, 122);
    font-family: NewFont;
    display: flex ;
    color: white;
    justify-content: space-between;
}



#footer1 > img
{
    height: 35px;
    filter: invert(1);
}

#footer2
{
    color: white;
    margin-left: 10px;
    font-size: 18px;
    flex-grow: 1;
}

#footer3
{
    color: white;
    margin-left: 20px;
    font-size: 18px;
}

#footer4 > a > img
{
    height: 18px;
    filter: invert(1);
    padding-left: 10px;
    transition-duration: 0.2s;    
}

#footer4 > a > img:hover
{
    transition-duration: 0.2s;    
    filter: invert(1) brightness(0.6) sepia(1);
}


@font-face
{
    font-family: NewFont;
    src: url(Bebas-Regular.ttf);
}